div.row.text-left {
    padding-left: 39px;
    padding-right: 39px;
}
p.grey-text.pb-5{
    padding-left: 40px;
    padding-right: 40px;
}

div#navbarSupportedContent.collapse.navbar-collapse{
    padding-left: 376px;
    padding-right: 106px;
}
a.navbar-brand{
    color: #ff4f5e;
    padding-left: 122px;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
}
img.img-fluid.z-depth-0{
    height: 724px;
}
img.img-fluid{
    height: 150px;
}

div.col{
    padding-left: 160px;
   
}
div.col center{
    padding-right: 81px;
}